@import "tailwindcss";

:root {

  /* Colores principales */

  --primary: #25708B;

  --primary-dark: #113348;

  --primary-light: #3E97B8;

  --accent: #07BDFF;

  /* Fondo */

  --background: #F5F5F5;

  /* Tarjetas */

  --card: #CDE7F0;

  /* Texto */

  --text: #000000;

  --white: #FFFFFF;

  /* Sombras */

  --shadow: rgba(0,0,0,.10);

}